@model ClientCredentialsModel
@{
    ViewData["Title"] = "Poświadczenia do projektu: " + Model.ProjectName;
}

<h2 class="card-title">@ViewData["Title"]</h2>

<form role="form" method="post" asp-controller="Client" class="form-control">
    <h3 class="card-subtitle" style="margin-top: 5%;">Dane panelu logowania strony / sklepu</h3>
    <div class="form-control">
        <label asp-for="PanelAddress" class="form-label">Adres logowania zaplecza strony/sklepu</label>
        <input asp-for="PanelAddress" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="PanelUserName" class="form-label">Nazwa użytkownika</label>
        <input asp-for="PanelUserName" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="PanelPassword" class="form-label">Hasło</label>
        <input asp-for="PanelPassword" class="input-group" />
    </div>
    <h3 class="card-subtitle" style="margin-top: 5%;">Dane logowania FTP</h3>
    <div class="form-control">
        <label asp-for="FtpHost" class="form-label">Adres FTP</label>
        <input asp-for="FtpHost" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="FtpUserName" class="form-label">Nazwa użytkownika</label>
        <input asp-for="FtpUserName" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="FtpPassword" class="form-label">Hasło</label>
        <input asp-for="FtpPassword" class="input-group" />
    </div>
    <h3 class="card-subtitle" style="margin-top: 5%;">Dane logowania Domeny</h3>
    <div class="form-control">
        <label asp-for="DomainOperatorAddress" class="form-label">Adres operatora domeny</label>
        <input asp-for="DomainOperatorAddress" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="DomainOperatorUserName" class="form-label">Nazwa użytkownika</label>
        <input asp-for="DomainOperatorUserName" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="DomainOperatorPassword" class="form-label">Hasło</label>
        <input asp-for="DomainOperatorPassword" class="input-group" />
    </div>
    <h3 class="card-subtitle" style="margin-top: 5%;">Dane logowania Hostingu</h3>
    <div class="form-control">
        <label asp-for="HostingAddress" class="form-label">Adres hostingu</label>
        <input asp-for="HostingAddress" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="HostingUserName" class="form-label">Nazwa użytkownika</label>
        <input asp-for="HostingUserName" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="HostingPassword" class="form-label">Hasło</label>
        <input asp-for="HostingPassword" class="input-group" />
    </div>

    <h3 class="card-subtitle" style="margin-top: 5%;">Dane dodatkowe - klucz 1</h3>
    <div class="form-control">
        <label asp-for="Key1Name" class="form-label">Opis/nazwa klucza 1</label>
        <input asp-for="Key1Name" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="Key1Public" class="form-label">Klucz publiczny/Nazwa użytkownika</label>
        <input asp-for="Key1Public" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="Key1Password" class="form-label">Klucz prywatny/Hasło</label>
        <input asp-for="Key1Password" class="input-group" />
    </div>
    <h3 class="card-subtitle" style="margin-top: 5%;">Dane dodatkowe - klucz 2</h3>
    <div class="form-control">
        <label asp-for="Key2Name" class="form-label">Opis/nazwa klucza 2</label>
        <input asp-for="Key2Name" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="Key2Public" class="form-label">Klucz publiczny/Nazwa użytkownika</label>
        <input asp-for="Key2Public" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="Key2Password" class="form-label">Klucz prywatny/Hasło</label>
        <input asp-for="Key2Password" class="input-group" />
    </div>
    <h3 class="card-subtitle" style="margin-top: 5%;">Dane dodatkowe - klucz 3</h3>
    <div class="form-control">
        <label asp-for="Key3Name" class="form-label">Opis/nazwa klucza 3</label>
        <input asp-for="Key3Name" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="Key3Public" class="form-label">Klucz publiczny/Nazwa użytkownika</label>
        <input asp-for="Key3Public" class="input-group" />
    </div>
    <div class="form-control">
        <label asp-for="Key3Password" class="form-label">Klucz prywatny/Hasło</label>
        <input asp-for="Key3Password" class="input-group" />
    </div>
    <input type="hidden" asp-for="ProjectId" />
    <input type="hidden" asp-for="ProjectName" />
    <p></p>
    <button type="submit" class="btn-success" asp-action="UpdateProjectCredentials">Uaktualnij poświadczenia</button>

</form>
<form role="form" method="get" asp-controller="Client" class="form-control">
    <input type="hidden" value="ProjectId" name="ProjectId" />

    <button type="submit" class="btn-success" asp-action="GetProjectDetails">Powrót do projektu</button>
</form>