<h2 class="card-title alert-success">Dziękujemy za przesłanie formularza</h2>
<p>Formularz został wysłany. Niezwłocznie po jego analizie skontkatujemy się z Państwem w celu uzgodnienia dalszych prac.</p>