
@{
    ViewData["Title"] = "FatalError";
}

<h1 class="alert-danger">@ViewData["Title"]</h1>
<h2 class="alert-danger">UWAGA! ZABRONIONE JEST WPISYWANIE HASEŁ GDZIEKOLWIEK POZA WYZNACZONYM DO TEGO OBSZAREM W ZAKŁADCE LOGINY I HASŁA. WPISANIE HASŁA W INNYM MIEJSCU STANOWI NARUSZENIE POLIKTYKI PRYWTANOŚCI I BĘDZIE SKUTKOWAĆ ZABLOKOWANIEM KONTA</h2>

