@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w systemie CRM Lotier</h1>
    <p>W zakładce wypłenij formularz, mogą Państwo podać informacje niezbędne do wyceny i realizacji projektu. </p> 
    <p>Zachęcamy do założenia konta i korzystania z funkcjonalności naszego systemu obsługi klienta</p>    
</div>
