@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potiwerdzenie resetu hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę odbiorczą w celu zrestowania hasła.
</p>
