@page
@model LockoutModel
@{
    ViewData["Title"] = "Zablokowane";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Twoje konto zostało zablokowane z powodu zbyt dużej liczby błędnych logowań, spróbuj później lub skontaktuj się z administratorem.</p>
</header>
